@font-face{
    font-family: charter;
    src: url('../fonts/CharterRegular.otf');
    font-style: normal;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/CharterItalic.otf');
    font-style: italic;
    font-weight: 400;
}

@font-face{
    font-family: charter;
    src: url('../fonts/CharterBold.otf');
    font-style: normal;
    font-weight: bold;
}

@font-face{
    font-family: charter;
    src: url('../fonts/CharterBoldItalic.otf');
    font-style: italic;
    font-weight: bold;
}

:root {
    font-size: 16px;
    --white: white;
    --white20: #A5A3A5;
    --white10: #3A3539;
}

body{
    color: var(--white);
    font-family: 'Nunito', sans-serif;
    background: #251F24;
    margin: 0;
    /* font-family:charter;*/
}

a {
    color: var(--white);
}
.header{
    
}

.header-content {
    padding-inline:20px; /*paddin en ambos costados, para version mobile*/
}
header{
    font-size: 14px;
    color: var(--white);
    margin-block-start: 20px;
    /*
    top, bottom, left, right,
        sus equivalentes al posucionar
    inset-block-start
    inset-block-end
    inset-inline-start
    inset-inline-end 
    se puede resumir con inset sino se quiere especificar
    */
  
    /* inline-size: 188px; /*para Ancho, equivale al width*/

}

header li {
    color: var(--white20);
    margin-block-end: 16px; /*equivale a margin-bottom*/
}

header a {
    color: var(--white20);
    text-decoration: none;
}

header a:hover {
    color: var(--white);
}

nav details summary {
    font-weight: bold;
}

h1, h2 , h3 {
    /* font-weight: normal; */
}
h1 {
    font-size: 40px;
    margin-block-start: 20px; /*margen en la parte superior*/
    margin-block-end: 16px; /*margen en la parte inferior*/
    /* font-size: 3.75em; */
    /*para alinear textos con valores logicos, a la derecha sería con end, a la izquierda con start*/
}

h2{
    font-size: 2em;
    margin-block: 40px; /* equivale a margin-block-start: 64px; margin-block-end: 16px; */
}

h3{
    font-size: 1.5em;
    font-weight: 600;
    margin-block: 16px; 
}

hr{
    margin-block: 40px; /* equivale a margin-block-start: 64px; margin-block-end: 16px; */
    border: 1px solid rgba(97, 97, 97, 0.2);
}
pre{
    background: var(--white10);
    color: white;
    padding: 40px;
    overflow: auto;
    border-radius: 8px;
    /* border-inline-start: 5px solid orange; 
    border-inline-end: 5px solid orange; 
    border-block-start: 5px solid orange; 
    border-block-end: 5px solid orange;  */
    border: 10px solid #5551FF;
    box-shadow: -10px 10px 0 0 #ABAAF6;
    margin-block-end: 30px;
}

p{
    color: var(--white20)
}

.hero {
    background-image: linear-gradient(96.07deg, #314755 30.63%, #26A0DA 102.18%);
    /*  background-image: linear-gradient(to top, rgba(255, 255, 255, .3), transparent), url('./../img/patron.png');*/
    block-size: 50px; /*Es para indicar height, quivale a height: 50px; */

}

.section-content{
    counter-reset: titleList;
}

.section-content img{
    display: block;
    margin-block-start: 40px;
    max-width: 100%;
}
.section-content h3{
    counter-increment:titleList; 
}

.section-content h3::before{
    content: counter(titleList, decimal) '. ';
}



.main{
    /* border: 1px solid red; */
}

.wrapper {
    /* border: 1px solid yellow; */
    max-inline-size: 902px;
    margin: auto;
}

.main-content {
    padding-inline: 16px;
    /* border: 1px solid blue; */
}

blockquote{
    margin-block-start: 80px;
    margin-block-end: 63px;
    background: var(--white10);
    border-radius: 8px;
    padding-inline-start: 24px;
    padding-inline-end: 24px;
    padding-block-start: 24px;
    padding-block-end: 24px;
    line-height: 32px;
    font-size: 24px;
}
blockquote p {
    color: var(--white)

}
.main hr {
    display: none;
}

.slider {
    /* border: 1px solid red; */
}

.slider-container{
    /* border: 1px solid purple; */
    /* block-size:100px; */
    display: block;
    /* overflow: auto; */
    overflow: hidden ;
    scroll-behavior: smooth;
    white-space: nowrap;
    font-size: 0;
}

.video{
    margin: 0;
    /* border: 1px solid blue; */
    display: inline-block;
    width: 100%;
    height: auto;
    aspect-ratio:16/9;
}

.slider-bullet-list{
    text-align: center; /*para centrar los bullets*/
    margin-block-start: 10px;
}

.slider-bullet{
    display: inline-block; /*Para poder darles ancho y alto*/
    inline-size: 15px;
    block-size: 15px;
    background: white;
    border-radius: 50%;
}

.form input{
    background: #251F24;
    box-sizing: border-box; /* Para mantener el modelo de caja aun contemplando que se le agrega borde, padding, margin*/
    border: 1px solid var(--white);
    color: var(--white);
    display: block; /*permitirá el margin collapsing*/
    font-size: 16px;
    inline-size: 100%; /*equivale al width*/
    border-radius: 8px;
    margin-block-end:24px; /*Margen al final del bloque(abajo en este caso), sería como el margin bottom*/
    padding-inline: 16px; /*padding izq, derecha*/
    padding-block: 12px; /*padding arriba, abajo*/

}
/*Selecto de atributo*/
.form input[type="submit"]{
   background: #157EFB;
   border: none; /*resetear un borde que ya existe, con none o con cero (0)*/
}
/* pseudo elementos para modificar el placeholder */
.form input::-webkit-input-placeholder{
    color: var(--white20);     
}

/* Se va aplicar estilos a la medida 1366px que sea superior o igual a lo que diga min-width, tecnica mobile-first*/
@media screen and (min-width: 1366px){
    h1{
        font-size: 60px;
        margin-block-start: 64px; /*margen en la parte superior o el inicio del bloque*/
    }
    .header{
        position: sticky;
        inset-block-start:-45px; /*margin top -45px*/
    }

    .hero{
        block-size: 350px; /*Es para indicar height, equivale a height: 350px; */
    }
    
    .header-content {
        position: relative;
        inset-block-start:65px; /*margin top 65px*/
        padding-inline: 0;/*reseteo el padding de ambos costados en 0 que se habia establecido en 20px en la mobile version */
    }
    header{
         /*
        top, bottom, left, right,
            sus equivalentes al posicionar
        inset-block-start
        inset-block-end
        inset-inline-start
        inset-inline-end 
        se puede resumir con inset sino se quiere especificar
        */
        position: absolute;
        inset-block-start:0;
        inset-inline-start: -208px;
        inline-size: 188px; /*Ancho, *equivale al width*/
    
    }
    
}